.button {
  cursor: pointer;
  border: none;
  border-radius: 6px;
  padding: 10px 16px;

  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s;
}

.normal__type {
  background: #4B6BFB;
  color: #FFF;

  &:hover {
    background: #E8E8EA;
    color: black;
  }

}

.invert__type {
  background: #E8E8EA;
  color: black;

  &:hover {
    background: #4B6BFB;
    color: #FFF;
  }
}