.create {
  font-family: "DM Serif Text", serif;
  position: relative;
  overflow: hidden;


  .create__editor {
    padding-top: 240px;
    padding-bottom: 40px;
    .title__input__wrapper {
      padding: 0 20vw;
      margin: 20px 0px;
      border: none;
      .title__input {
        font-family: "DM Serif Text", serif;
        font-weight: 700;
        border: none;
        font-size: 40px;
        width: 100%;
        text-align: left;
      }
    }
  }
}
