.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;

    li {
      list-style: none;
    }
  }


  .navbar__buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

}