.navbar__wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  .navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    ul {
      display: flex;
  
      li {
        list-style: none;
      }
    }
  
    .navbar__buttons {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
  
}