.text-editor {
  overflow: hidden;
  .tiptap {
    font-size: 20px;
    padding: 0 20vw;
    outline: none;
    // border: 1px solid black;
    border-radius: 8px;
    min-height: 400px;


    p.is-editor-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none;
    }

    // p.is-empty::before {
    //   color: #adb5bd;
    //   content: attr(data-placeholder);
    //   float: left;
    //   height: 0;
    //   pointer-events: none;
    // }

    ::selection {
      background-color: #bcd3eb;
    }

    p {
      margin: 0;  
      line-height: 25px;
    }

    img {
      display: block;
      height: auto;
      margin: 1.5rem 0;
      max-width: 100%;

      &.ProseMirror-selectednode {
        outline: 3px solid var(--purple);
      }
    }

    [data-type="taskList"] {
      li {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }
  }
}
